<div style="padding-left:40px" class="row">
    <h3 style="margin-bottom:4px">二维码</h1>
    <hr style="margin-top: 5px; margin-bottom: 10px;" class="divider"/>
    <div style="padding-left:20px;">
        <a href="/code">查看二维码</a>
        <a href="/code/add">添加二维码</a>
    </div>

    <h3>栏目</h1>
    <hr style="margin-top: 5px; margin-bottom: 10px;" class="divider"/>
    <div style="padding-left:20px;">
        <a href="/column">分类目录</a>
        <a href="/post">所有文章</a>
        <a href="/post/add">写文章</a>
    </div>

    <h3>图片管理</h3>
    <hr style="margin-top: 5px; margin-bottom: 10px;" class="divider"/>
    <div style="padding-left:20px;">
        <a href="/picture">所有图片</a>
        <a href="/picture/add">上传图片</a>
    </div>

    <h3>设置</h1>
    <hr style="margin-top: 5px; margin-bottom: 10px;" class="divider"/>
    <div style="padding-left:20px;">
        <a href="/setting">设置</a>
    </div>

</div>