<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>标题</title>

  <!-- Fontawesome -->
  <link rel="stylesheet" href="/static/css/font-awesome.min.css">
  <!-- Bootstrap -->
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">

  <!-- FileInput -->
  <link rel="stylesheet" type="text/css" href="/static/css/default.css">
  <link href="/static/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
  <!-- Editor.md -->
  <link rel="stylesheet" href="/static/css/editormd.min.css"/>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <style>
  /*ul,ol{list-style-type:none;}*/
  /*.left_menu {margin:0px;padding:0px;border-bottom:1px solid #aaaaaa;verticla-align:center;height:40px;}
  .left_menu a{height:100%;width:100%;}
  .left_menu img {height:1em;width:1em;}*/
  .left a {line-height:normal;}
  .left a {text-decoration:none;display:block;height:40px;padding:5px 0px 5px 10px;border-bottom:1px solid #bbbbbb;color:#000000;}
  .left a:hover {}
  .left img {height:1em;width:1em;}
  .left span {margin-left:5px;}
  </style>
</head>
<body>
  <nav class="navbar navbar-default" role="navigation" style="margin-bottom:0px;background-color:#00ca79;border:none;border-radius: 0px;">
    <div class="container-fluid" style="padding-right: 0px;">
    <div class="navbar-header">
      <a class="navbar-brand" href="/admin">LOGO</a>
    </div>
    <div class="collapse navbar-collapse" id="example-navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle-toggle user" data-toggle="dropdown-dropdown" data-hover="dropdown">
                  <span class="glyphicon glyphicon-user"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">个人中心</a></li>
                    <li><a href="#">使用帮助</a></li>
                    <li class="divider"></li>
                    <li><a href="/login?exit=true">退出登录</a></li>
                    <!-- <li class="divider"></li> -->
                </ul>
            </li>
        </ul>
    </div>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2 col-md-2 col-lg-2 left" style="height:100%;background-color:#C8E6C9;color:#ffffff;">
        <a href="/code">
          <div>
            <img src="/static/img/二维码.png" />
            <span>二维码</span>
          </div>
        </a>
        <a href="#">
          <img src="/static/img/文章.png" />
          <span>文章</span>
        </a>
        <a href="#">
          <img src="/static/img/设置.png" />
          <span>个人中心</span>
        </a>
      </div>
      <div class="col-sm-10 col-md-10 col-lg-10" styl="background-color:#ECEFF1;">
            <h2>xxx后台管理系统</h1>
            <hr class="divider"/>
            <h3>二维码</h1>
            <hr class="divider"/>
            <a href="/code">查看二维码</a>
            <a href="/code/add">添加二维码</a>
            <h3>栏目管理</h1>
            <hr class="divider"/>
            <a href=""></a>
            <a href=""></a>
            <h3>设置</h1>
            <hr class="divider"/>
      </div>
        <div class="row">
        </div><!-- 网站标识 -->
      </div>
    </div>
  </div>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
  <!-- Bootstrap-hover-dropdown -->
  <script src="/static/js/jquery.bootstrap-dropdown-hover.min.js"></script>
  <!-- FileInput -->
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="/static/js/bootstrap.min.js"></script>
</body>
</html>
