<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>净菊后台管理系统</title>

  <!-- Fontawesome -->
  <link rel="stylesheet" href="/static/css/font-awesome.min.css">
  <!-- Bootstrap -->
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">

  <!-- FileInput -->
  <link rel="stylesheet" type="text/css" href="/static/css/default.css">
  <link href="/static/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
  <!-- Editor.md -->
  <link rel="stylesheet" href="/static/css/editormd.min.css"/>
  <!-- KindEditor.js -->
  <link rel="stylesheet" href="/static/themes/default/default.css" />


  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <style>
  html{ min-width:770px;}
  /*ul,ol{list-style-type:none;}*/
  /*.left_menu {margin:0px;padding:0px;border-bottom:1px solid #aaaaaa;verticla-align:center;height:40px;}
  .left_menu a{height:100%;width:100%;}
  .left_menu img {height:1em;width:1em;}*/
  .left a {line-height:normal;}
  .left a {text-decoration:none;display:block;height:40px;padding:5px 0px 5px 10px;border-bottom:1px solid #bbbbbb;color:#000000;}
  /* .left a:hover {} */
  .left img {height:1em;width:1em;}
  .left span {margin-left:5px;}
  </style>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-default" role="navigation" style="margin-bottom:0px;background-color:#00ca79;border:none;border-radius: 0px;">
    <div class="container-fluid" style="padding-right: 0px;">
    <div class="navbar-header">
      <a class="navbar-brand" href="/admin">净菊湿地后台管理系统</a>
    </div>
    <div class="collapse navbar-collapse" id="example-navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle-toggle user" data-toggle="dropdown-dropdown" data-hover="dropdown">
                  <span class="glyphicon glyphicon-user"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/help">使用帮助</a></li>
                    <li class="divider"></li>
                    <li><a href="/login?exit=true">退出登录</a></li>
                    <!-- <li class="divider"></li> -->
                </ul>
            </li>
        </ul>
    </div>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2 col-md-2 col-lg-2 left" style="height:100%;background-color:#C8E6C9;color:#ffffff;">
        <a href="/code">
          <div>
            <img src="/static/img/qrcode.png" />
            <span>二维码</span>
          </div>
        </a>
        <a href="/column">
          <img src="/static/img/column.png" />
          <span>栏目</span>
        </a>
        <a href="/post">
          <img src="/static/img/article.png" />
          <span>文章</span>
        </a>
        <a href="picture">
          <img src="/static/img/picture.png"/>
          <span>图片</span>
        </a>
        <a href="/setting">
          <img src="/static/img/setting.png" />
          <span>设置</span>
        </a>
      </div>
      <div class="col-sm-10 col-md-10 col-lg-10" styl="background-color:#ECEFF1;">
      <!-- -->
      {{if (compare .Tpl "index")}}
        {{template "back_end/bindex.html" .}}
      {{else if (compare .Tpl "qrcode")}}
        {{template "back_end/qrcode.html" .}}
      {{else if (compare .Tpl "qrcode_add")}}
        {{template "back_end/qrcode_add.html" .}}
      {{else if (compare .Tpl "post")}}
        {{template "back_end/post.html" .}}
      {{else if (compare .Tpl "post_add")}}
        {{template "back_end/post_add.html" .}}
      {{else if (compare .Tpl "setting")}}
        {{template "back_end/setting.html" .}}
      {{else if (compare .Tpl "column")}}
        {{template "back_end/column.html" .}}
      {{else if (compare .Tpl "column_add")}}
        {{template "back_end/column_add.html" .}}
      {{else if (compare .Tpl "picture")}}
        {{template "back_end/picture.html" .}}
      {{else if (compare .Tpl "help")}}
        {{template "back_end/help.html" .}}
      {{end}}
      </div>
    </div>
    <div class="row">
    </div><!-- 网站标识 -->
  </div>

  <!-- Bootstrap-hover-dropdown -->
  <script src="/static/js/jquery.bootstrap-dropdown-hover.min.js"></script>
  <!-- FileInput -->
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="/static/js/bootstrap.min.js"></script>
</body>
</html>
