        <div class="row">
          <ol class="breadcrumb" style="margin-bottom:0px;">
              <!-- <li><a href="/admin">首页</a></li> -->
              <!-- <li><a href="/code">二维码</a></li> -->
              <li>首页</li>
              <li>二维码</li>
              <li class="active">查看二维码</li>
          </ol>
        </div>
        <div class="row">
          <div class="col-sm-2 col-md-2 col-lg-2" >
            <a href="/code/add" type="button" class="btn btn-default navbar-btn">新增</a>
          </div>
          <div class="col-sm-3 col-sm-offset-7 col-md-3 col-md-offset-7 col-lg-3 col-lg-offset-7">
            <form method="POST" action="/code/search" class="form-inline">
              <div class="input-group">
                <input type="text" style="margin:8px 0;" class="form-control" id="content" name="content" placeholder="搜索">
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-default navbar-btn">搜索</button>
                </span>
              </div>
            </form>
          </div>
        </div><!-- 表格头部 -->
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <table class="table table-striped">
              <thead style="background-color:#33CCCC;">
                <tr>
                  <th style="border:none;">ID</th>
                  <th style="border:none;">名称</th>
                  <th style="border:none;">链接</th>
                  <th style="border:none;">热度</th>
                  <th style="border:none;">操作</th>
                </tr>
              </thead>
              <tbody>
                {{range .QRList}}
                <tr>
                  <td>{{.Id}}</td>
                  <td><a>{{.Name}}</a></td>
                  <td><a href="{{.Link}}" target="_blank">{{.Link}}</a></td>
                  <td>{{.Read}}</td>
                  <td>
                    <a href="/download?id={{.Id}}" type="button" class="btn btn-sm btn-success ">下载</a>
                    <a href="/code/add?id={{.Id}}" type="button" class="btn btn-sm btn-primary ">修改</a>
                    <a href="/code/del?id={{.Id}}" type="button" class="btn btn-sm btn-danger ">删除</a>
                  </td>
                </tr>
                {{end}}
              </tbody>
            </table>
          </div>
        </div>
        <div class="row" style="text-align:center;">
          {{if .paginator.HasPages}}
          <ul class="pagination pagination">
              {{if .paginator.HasPrev}}
                  <li><a href="{{.paginator.PageLinkFirst}}">首页</a></li>
                  <li><a href="{{.paginator.PageLinkPrev}}">&laquo;</a></li>
              {{else}}
                  <li class="disabled"><a>首页</a></li>
                  <li class="disabled"><a>&laquo;</a></li>
              {{end}}
              {{range $index, $page := .paginator.Pages}}
                  <li{{if $.paginator.IsActive .}} class="active"{{end}}>
                      <a href="{{$.paginator.PageLink $page}}">{{$page}}</a>
                  </li>
              {{end}}
              {{if .paginator.HasNext}}
                  <li><a href="{{.paginator.PageLinkNext}}">&raquo;</a></li>
                  <li><a href="{{.paginator.PageLinkLast}}">尾页</a></li>
              {{else}}
                  <li class="disabled"><a>&raquo;</a></li>
                  <li class="disabled"><a>尾页</a></li>
              {{end}}
          </ul>
          {{end}}
        </div>
        <div class="row">
        </div><!-- 网站标识 -->